<div style="font-size:15px">
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Qtd</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <td>{{ veiculo.id }}</td>
        <td>{{ veiculo.marca }}</td>
        <td>{{ veiculo.modelo }}</td>
        <td *ngIf="veiculo.ano > 2000">{{ veiculo.ano }}</td>
        <td>{{ veiculo.quantidade }}</td>
        <td>
          <button class=" btn btn-primary " (click)="editVeiculo(veiculo) ">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger ml-2 " (click)="deleteVeiculo(veiculo) ">Delete</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
